<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <style type="text/css">

        /* CLIENT-SPECIFIC STYLES */
        body
         {
            background-color: black;
            align-items: center;
            justify-content: center;
        }
        h1
        {
            justify-content: center;
            color: whitesmoke ;
        }
        
    </style>
</head>
<body>
        <h1> Request for a new email for consent</h1>

</body>

</html>